body {
    background-color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
}

.spacer {
    margin-top: 10px;
}

.output-message {
    font-size: 20px;
    text-align: center;
    background-color: transparent;
}

.custom-group {
    background-color: transparent !important; /* No background color */
    padding: 0 !important; /* Remove padding */
    border: none !important; /* Remove any borders */
}

.horizontal-line {
    border: none;
    height: 2px;
    background-color: #dddddd;
    /* margin: 10px auto; */
    width: 100%;
}

.text-expl-btn {
    max-width: 20%;
}

.loading-text {
    font-size: 10px;
}